<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

    <!-- Bootstrapの設定 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<title>ユーザー</title>
</head>
<body class ="text-center">
<h1>ユーザーアカウント情報</h1>
		<table class="table table-bordered table-hover">
			<tr class="table-active row">
				<th class="col">名前</th>
				<th class="col">メール</th>
				<th class="col">権限</th>
				<th class="col">作成日時</th>
				<th class="col">更新日時</th>
			</tr>
			<tr class="table-primary row">
				<th class="col" th:text="${accountModel.accountName}"></th>
				<th class="col" th:text="${accountModel.accountEmail}"></th>
				<th class="col" th:text="${accountModel.accountRole}"></th>
				<th class="col" th:text="${#dates.format(accountModel.accountCreateTime, 'yyyy/MM/dd HH:mm')}"></th>
				<th class="col" th:text="${#dates.format(accountModel.accountUpdateTime, 'yyyy/MM/dd HH:mm')}"></th>
			</tr>

	</table>
</body>
</html>